{
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"importOrder": ["^@core/(.*)$", "^@app/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
